#message-container {
    height: 300px;
    /* 메시지 창의 높이를 조절하세요 */
    overflow-y: auto;
    /* 메시지가 넘칠 경우 스크롤 생성 */
}

.message {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3498db;
    /* 파란색 배경 */
    color: white;
    /* 흰색 텍스트 */
}

#input-container {
    margin-top: 10px;
}

#message-input {
    width: 70%;
    padding: 8px;
}

#send-button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}